* {
    box-sizing: border-box;
}

body {
    background: #1F2937;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#container {
    width: 550px;
    height: 729px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top {
    width: 550px;
    height: 285px;
    background: #87112B;
}

#bottom {
    width: 550px;
    height: 444px;
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

#title {
    font-size: 28px;
    font-weight: 800;
    color: white;
}

#unit-input {
    display: block;
    width: 117px;
    height: 83px;
    margin: 30px auto; 
    border: 2px solid #2C060E;
    border-radius: 5px;
    font-size: 58px;
    font-weight: 800;
    background: #87112B;
    color: white;
    text-align: center;
}

#convert-btn {
    display: block;
    width: 117px;
    height: 42px;
    padding: 9px 27px;
    border: none;
    border-radius: 5px;
    background: white;
    font-size: 16px;
    margin: auto;
}

.card {
    width: 500px;
    height: 108px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.card p {
    margin: 0;
}

.measure-title {
    font-weight: 600;
    font-size: 20px;
    color: #5A537B;
}

.measure-subtitle {
    font-size: 14px;
}